
# auto generated wildcard
.env1
node_modules

# auto generated wildcard
employeedeductions/.env8
    # added by cds deploy
    default-env.json
    
    # added by cds deploy
    default-env.json
    
    # added by cds deploy
    default-env.json
    